# Gradle files
.gradle/
local.properties

# Android Studio files
*.iml
/.idea/
.idea/caches/
/.idea/libraries/
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

# Build files
/build/
captures/

# Native build files
.externalNativeBuild/
.cxx/

# macOS files
.DS_Store